<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>校园书摊</title>
    <link rel="stylesheet" type="text/css" href="../static/statics/css/home.css" th:href="@{/statics/css/home.css}">
</head>
<body>
<!-- 导航 -->
<nav class="navbar">
    <div class="nav-info">
        <a class="userName">
            您好：<span th:text="${user.getUserName()}">名字</span>
        </a>
        <a href="#" th:href="@{/myBookshelf}" class="bookshelf">    我的书架    </a>
        <a href="#" th:href="@{/logout}" class="logout">[ 退 出 ]</a>
    </div> <!-- nav-info -->
    <form action="/searchBooks" th:action="@{'/searchBooks'}" method="get">
        <div class="nav-search">
            <a href="/home" th:href="@{/home}"><img class="logo" src="../static/statics/img/zju.png" th:src="@{/statics/img/zju.png}"></a>
            <div class="search-form">
                <input id="search-input" name="bookName" type="search" class="searchIn" placeholder="搜图书...">
                <a href="#" class="search-logo">| &nbsp;<img src="../static/statics/img/search.png" th:src="@{/statics/img/search.png}"></a>
                <button type="submit" id="search-button" class="searchBtn">搜索</button>
            </div>
        </div><!--  nav-search -->
    </form>
    <ul class="menu">
        <li><a class="active" href="home" th:href="@{/home}">首页</a></li>
        <li><a href="/bookStore" th:href="@{/bookStore/1/1}">书籍良品</a></li>
        <li><a href="/askBookStore" th:href="@{/askBookStore/1}">求书区</a></li>
        <li><a href="/message" th:href="@{/message}">我的消息</a></li>
    </ul>
</nav>

<!-- 轮播 -->
<div class="carousel">
    <div class="book-guide">
        <h4>图书导航</h4>
        <ul class="book-class">
            <tr>
                <span th:each="category:${categories}">
                    <li>
                        <td href="#book-part-${category.key}" th:text="${category.value}">category.name</td>
                    </li>
                </span>
            </tr>
        </ul>
    </div><!-- book-guide -->
    <div class="slider">
        <div class="slider-img">
            <ul class="slider-img-ul">
                <li><img src="../static/statics/img/carousel/5.jpg" th:src="@{/statics/img/carousel/5.jpg}"></li>
                <li><img src="../static/statics/img/carousel/1.jpg" th:src="@{/statics/img/carousel/1.jpg}"></li>
                <li><img src="../static/statics/img/carousel/2.jpg" th:src="@{/statics/img/carousel/2.jpg}"></li>
                <li><img src="../static/statics/img/carousel/3.jpg" th:src="@{/statics/img/carousel/3.jpg}"></li>
                <li><img src="../static/statics/img/carousel/4.jpg" th:src="@{/statics/img/carousel/4.jpg}"></li>
                <li><img src="../static/statics/img/carousel/5.jpg" th:src="@{/statics/img/carousel/5.jpg}"></li>
                <li><img src="../static/statics/img/carousel/1.jpg" th:src="@{/statics/img/carousel/1.jpg}"></li>
            </ul>
        </div>
    </div><!-- 	slider -->
</div><!-- carousel -->



<div id="container">

    <tr th:each="books, bookStat:${booksMap}">
            <div class="book-part" id="book-part-${books.value.get(0).getCategory().getId()}">
                    <h3 class="book-title"><a href="#" th:text="${books.key.getName()}">| ${books.key.getName()}</a></h3>
                    <a class="more" href="goBookStore.do?id=${books.value.get(0).getCategory().getId()}"
                       th:href="'/bookStore/' + ${bookStat.count} + '/1'" th:text="查看更多">查看更多</a>
                    <ul class="book-lists">
                            <li class="book-list" th:each="book:${books.value}">
                                <a href="/books/${book.getId()}" th:href="'bookDetail/'+${book.getId()}" class="book-pic" target="_blank">
                                    <img src="<%=request.getContextPath()%>/img/book-list/article/${book.getBookImage().getId()}.jpg"
                                         th:src="@{'/statics/img/book-list/article/'+${book.getId()}+'.jpg'}">
                                </a>

                                <a href="#" class="book-info">
                                    <h5 class="book-name" th:text="${book.getName()}">${book.getName()}</h5>
                                    <span class="book-detail" th:text="${book.getDescription()}">${book.getDescription()}</span>
                                </a>

                                <span class="book-price" th:text="${book.getPrice()} + '¥'">￥${book.getPrice()}
                                    <a href="#" class="book-buy">立即下单</a>
                                </span>
                            </li>
                    </ul><!--  book-list end -->
            </div><!--  book-part end -->
    </tr>

</div> <!-- container end-->


<footer>
    <a href="#">©2018-2019 二手书交易</a>
    <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>

<script type="text/javascript" src="../static/statics/js/jquery-3.2.js" th:src="@{/statics/js/jquery-3.2.js}"></script>
<script type="text/javascript" src="../static/statics/js/xSlider.js" th:src="@{/statics/js/xSlider.js}"></script>
<script type="text/javascript" src="../static/statics/js/session.js" th:src="@{/statics/js/session.js}"></script>
<script type="text/javascript">

    function search() {
        var bookName = $.trim($("#bookName").val());
        if (bookName.length == 0) {
            $('#errorInfo').html("信息不能为空！");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: [[@{'/bookStore/' + bookName}]],
            data: {"bookName":bookName},
            dataType:"json",
                success: function(rep){
                if(rep.status == 0){
                    alert(rep.message);
                    location.href = "bookStore";
                }else{
                    alert(rep.message);
                }
            },
            error:function(rep){
                alert("获取信息失败!");
            }
        });
    }

    // $(function(){
    //
    //     $('#search-button').click(function (event) {
    //         var keyword = $('#search-input').val();
    //         var book_ = {"name":keyword};
    //         var jsonData = JSON.stringify(book_);
    //         var flag = "";
    //         $.ajax({
    //             type:"POST",
    //             url:"searchBook.do",
    //             async:false,
    //             dataType:"json",
    //             contentType:"application/json;charset=UTF-8",
    //             data:jsonData,
    //             success:function (msg) {
    //                 flag = msg;
    //             }
    //         });
    //
    //     });
    //
    //     $(".book-class li a").on("click",function(){
    //         var classId = $(this).prop("title");
    //         console.log(classId);
    //         var classTop =  $("#container").find(("#"+classId)).offset().top;
    //         $("html,body").animate({scrollTop:classTop+ "px"}, 500);
    //     });
    // })
</script>

</body>
</html>
