<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>克里斯的书摊</title>
    <link rel="stylesheet" type="text/css" href="../static/statics/css/reset.css"  th:href="@{/statics/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../static/statics/css/login.css"  th:href="@{/statics/css/login.css}">
</head>
<body>
<div id="login-container">
    <h2>克里斯的书摊</h2>
    <br />
    <form>
        <input type="text" id="userCode" class="userName" placeholder="账号"><br/>
        <input type="password" id="userPwd" class="password" placeholder="密码"><br/>
        <a class="registerPass" th:href="@{/register}" >注册</a>
        <a class="forgetPass" href="">忘记密码?</a><br/>

        <div>
            <input class="loginBtn" type="button" onclick="submitLogin()" value="登陆">
        </div>

<!--        <button class="loginBtn" id="submitLogin" type="submit">登录</button><br/>-->
    </form>
    <p id="errorInfo"></p>
</div>

<script type="text/javascript"   th:src="@{/statics/js/jquery-3.2.js}"></script>
<script type="text/javascript" th:inline="javascript">

    function submitLogin() {
        var userCode = $.trim($("#userCode").val());
        var userPwd = $.trim($("#userPwd").val());
        if (userCode.length == 0 || userPwd.length == 0) {
            $('#errorInfo').html("账号或密码不能为空！");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: [[@{/login_in}]],
            data: {"userCode":userCode,"userPwd":userPwd},
            dataType:"json",
            success: function(rep){
                if(rep.status == 0){
                    alert(rep.message);
                    alert(rep.data);
                    location.href = "/home";
                }else{
                    alert(rep.message);
                }
            },
            error:function(rep){
                alert("获取信息失败!");
            }
        });
    }


    // $(function() {
    //     $('#login-button').click(function (event) {
    //         $('#errorInfo').html("");
    //         var userCode_ = $('#userCode').val();
    //         var userPwd_ = $('#userPwd').val();
    //         if (userCode_.length == 0 || userPwd_.length == 0) {
    //             $('#errorInfo').html("账号或密码不能为空！");
    //             return false;
    //         }
    //         var user_ = {"userCode": userCode_, "userPwd": userPwd_};
    //         var jsonData = JSON.stringify(user_);
    //         $.ajax({
    //             type: "POST",
    //             url:[[@{/login_in}]],
    //             async: false,
    //             dataType: "json",
    //             contentType: "application/json;charset=UTF-8",
    //             data: jsonData,
    //             success: function (result) {
    //                 if (result.status == 200) {
    //                     alert(result.message);
    //                     alert(result.data);
    //                     event.preventDefault();
    //                     location.href = "home.do";
    //                 } else {
    //                     event.preventDefault();
    //                     $('#errorInfo').html(result);
    //                 }
    //             }
    //         });
    //     });
    // })
</script>
</body>
</html>